src/fimaster/__pycache__
src/fimaster/utils/__pycache__
src/fimaster/data_api/__pycache__
src/fimaster/cache
src/.pytest_cache
src/tests/__pycache__
dist/
fimaster.egg-info
*__pycache__
.vscode/