@media only screen and (max-width: 999px) {
    #main{
        width: 100% !important;
        padding-top: 30px;
    }
}
@media only screen and (min-width: 1000px) {
    #main{
        width: 1000px !important;
        margin: 0 auto;
        width:100%;
        text-align: left;
        padding-top: 30px;
    }
    #main-box{
        margin-top: 50px;
    }
}
#main-box{
    margin-top: 50px;
}
#cashflows-table{
    display: none;
}
#center-element{
    margin: 0 auto;
}